<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Mis datos personales</h1>
    </header>

    <main>
        <section>
            <h2>Descripción</h2>
        </section>

        <section>
            <h2>Datos del creador</h2>
            <ul>
                <li><strong>Nombre:</strong> Paola Gabriela Villafañez</li>
                <li><strong>Correo:</strong> <a href="diplomaturapaola@gmail.com">Correo electrónico</a></li>
                <li><strong>Curso:</strong> Diplomatura en desarrollo web Fullstack con javascript</li>
                <li><strong>Sprint:</strong> Sprint 5</li>
                <li><strong>Fecha:</strong> 29 de agosto de 2025</li>
            </ul>
        </section>
    </main>

</body>
</html>
