<body>

    <h1>Agregar País</h1>

    <!-- 
        Formulario para agregar un nuevo país al sistema.
        - action: indica la ruta del servidor que procesará la petición POST.
        - method: POST, para enviar datos al backend.
    -->
    <form class="add" action="/paises/agregar" method="POST">
        <div>

            <!-- NOMBRE OFICIAL -->
            <label for="nombre">Nombre Oficial:</label><br>
            <input type="text" id="nombre" name="name.official" required minlength="3" maxlength="90">
            <br><br>

            <!-- CAPITAL -->
            <label for="capital">Capital (si hay más de una, separar por coma):</label><br>
            <input type="text" id="capital" name="capital" required minlength="3" maxlength="90">
            <br><br>

            <!-- FRONTERAS -->
            <label for="borders">Fronteras (códigos de 3 letras, separados por coma):</label><br>
            <input type="text" id="borders" name="borders" pattern="^([A-Z]{3})(,[A-Z]{3})*$" placeholder="Ej: ARG,BRA,CHL">
            <br><br>

            <!-- ÁREA -->
            <label for="area">Área (km²):</label><br>
            <input type="number" id="area" name="area" min="1" step="0.01" required>
            <br><br>

            <!-- POBLACIÓN -->
            <label for="population">Población:</label><br>
            <input type="number" id="population" name="population" min="1" required>
            <br><br>

            <!-- GINI -->
            <label for="gini">Índice Gini (0 - 100):</label><br>
            <input type="number" id="gini" name="gini" min="0" max="100" step="0.1" placeholder="Opcional">
            <br><br>

            <!-- TIMEZONES -->
            <label for="timezones">Zonas Horarias (separadas por coma):</label><br>
            <input type="text" id="timezones" name="timezones" placeholder="Ej: UTC-03:00,UTC-04:00">
            <br><br>

            <!-- CREADOR -->
            <label for="creador">Creador:</label><br>
            <input type="text" id="creador" name="creador" required>
            <br><br>

            <!-- BOTÓN GUARDAR -->
            <button type="submit">Guardar País</button>

            <br><br><br>
            <!-- ENLACE PARA VOLVER AL DASHBOARD -->
            <a href="/paises">← Volver al Dashboard</a>
        </div>
    </form>

</body>
