<!--NODO_C3-SP5_TP1/src/views/index.ejs -->
<header class="pais-banner">
    <div class="pais-banner">
        <h1>Bienvenido al Portal de Países</h1>
        
        <p>Gestión de países</p>
    </div>
</header>