<!--NODO_C3-SP5_TP1/src/views/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title><%-title%></title> <!-- título dinámico -->
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <!-- Navbar (componente parcial) -->
  <%- include('partials/navbar') %>

  <!-- Contenido que cambia según la vista -->
  <main>
    <%- body %>
  </main>

  <!-- Footer (componente parcial) -->
  <%- include('partials/footer') %>
 
  <!--Validaciones Frontend--> 
  <script src="/validaciones.js"></script>
   
</body>
</html>